body{
    box-sizing: border-box;
    font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
}

.cell{
    fill: red;
}

.cell:hover{
    stroke-width: 2;
    stroke: black;
}

#tooltip{
    position: absolute;
    background-color: rgb(70, 68, 68);
    color: white;
    text-align: center;
    border-radius: 3px;
    padding: 5px;
}